In [1]:
# String: immutable sequence of char enclosed inside quote 
# string can be indexed 
Name = "Shraddha"
len(Name)

8

In [2]:
# String Indexing : Synatx : String[Start index : end index+1 :step] by default step is 1
# POSITIVE INDEXING
print(Name[7])
# start from 0 and includes character upto index 3 
print(Name[0:4])
print(Name[0:7:2])
print(Name[:])

a
Shra
Srdh
Shraddha

In [3]:
# Negative Indexing
print(Name[-1])
print(Name[-5:-1])

a
addh

In [4]:
# reverse string
print(Name[::-1])

ahddarhS

In [5]:
# Appending
Sur_name = "Shetty"
Full_Name = Name +Sur_name # concatenation
F_Name = "Shraddha""Shetty"
print(Full_Name,F_Name)

ShraddhaShetty ShraddhaShetty

In [6]:
Full = "Shraddha".join("Shetty")
Full

'SShraddhahShraddhaeShraddhatShraddhatShraddhay'

In [7]:
Mulp = Name*3
print(Mulp)

ShraddhaShraddhaShraddha

In [8]:
# string iteration in for loop:
# points element
for i in Name:
    print(i)

S
h
r
a
d
d
h
a

In [9]:
# points index
for i in range(len(Name)):
    print(i,Name[i])

0 S
1 h
2 r
3 a
4 d
5 d
6 h
7 a

In [10]:
# Type conversion 
# explicit conversion
cost = 15
s = "cost in Euro"
bill = str(cost) + s
print(bill,type(bill))

15cost in Euro <class 'str'>

In [11]:
# membership operation
print('h' in Name)
print('h' not in Name)

True
False

In [12]:
# iscapital # removed

In [13]:
print("Shraddha".isupper())

False

In [14]:
print("Shraddha".islower())

False

In [15]:
# str.isdigit()
# str.isnumeric()
# str.isspace()
# str.isalnum()
# str.isascii()
# print(str.istitle(Name))
# print(str.lowercase(Name)) # removed

In [16]:
print(Name.index('ra'))
print(Name.find('ay'))

2
-1

In [17]:
# finding index of substring in a string without using inbuilt function
str= "ha"
Name ="Shraddha"
for i in range(len(Name)):
    if Name[i] == "h":
        if Name[i+1] == "a":
            print(i)

6

In [18]:
a =list[Name.split('a')]
print(a)

list[['Shr', 'ddh', '']]

In [19]:
print(Name.count('a'))

2

In [20]:
print(Name.replace("ha","da"))
print(Name)

Shraddda
Shraddha