List is mutable, ordered collection of items of diff types

In [1]:
# empty list
my_list = []
type(my_list)

list

In [2]:
# assigning values to list
my_list = [1, "Shraddha", 67.96]

Indexing starts from Zero and supports both positive and negative indexing

In [3]:
# iteration to access element simple list # my_list = [1, "Shraddha", 67.96]
for i in my_list:
    print(i)

1
Shraddha
67.96

In [4]:
# iteration to access index simplelist # my_list = [1, "Shraddha", 67.96] 
for i in range(len(my_list)):
    print(my_list[i])

1
Shraddha
67.96

In [5]:
# indexing indexable element in list # my_list = [1, "Shraddha", 67.96]
my_list[1][0:4]

'Shra'

In [6]:
# positive and negative indexing in simple list # my_list = [1, "Shraddha", 67.96]
print(my_list[0:3])
print(my_list[:])
print(my_list[-2:-1])
print(my_list[0:3:2])
print(my_list[-1])

[1, 'Shraddha', 67.96]
[1, 'Shraddha', 67.96]
['Shraddha']
[1, 67.96]
67.96

In [7]:
# nested list creation
nested_my_list = ["Employee",[1, "Shraddha", 67.96], ["absent"]]

In [8]:
# indexing in nested list # nested_my_list = ["Employee",[1, "Shraddha", 67.96], ["absent"]]
# iteration to access element
for i in nested_my_list:
    print(i)

Employee
[1, 'Shraddha', 67.96]
['absent']

In [9]:
# positive and negative indexing in nested list # nested_my_list = ["Employee",[1, "Shraddha", 67.96], ["absent"]]
print(nested_my_list[0:3])
print(nested_my_list[1][1][0:4])
print(nested_my_list[-2])
print(nested_my_list[-2][-2][-8:-4])

['Employee', [1, 'Shraddha', 67.96], ['absent']]
Shra
[1, 'Shraddha', 67.96]
Shra

In [10]:
# changing value 67.96 to 45 # nested_my_list = ["Employee",[1, "Shraddha", 67.96], ["absent"]]
nested_my_list[1][2] = 45
print(nested_my_list)

['Employee', [1, 'Shraddha', 45], ['absent']]

In [ ]:
# adding elements to list
# my_list = [1, "Shraddha", 67.96]
# nested_my_list =['Employee', [1, 'Shraddha', 45], ['absent']]
# my_list[3] = "Shetty" # list assignment index out of range  # can only change value of existing list element
# print(my_list)

In [11]:
# adding elements to list
# append # add one value at a time # to the end of list 
my_list.append("Shetty")
print(my_list)

[1, 'Shraddha', 67.96, 'Shetty']

In [12]:
# adding elements to list
# extend # add more than one value to the end of the list
my_list.extend(["IonIdea", "Whitefield"])
print(my_list)

[1, 'Shraddha', 67.96, 'Shetty', 'IonIdea', 'Whitefield']

In [13]:
# Concatenate list
# # using extend
market_list = []
fruits = ["apple", "kiwi"]
vegetable = ["tomato", "onion"]
market_list.extend(fruits)
print(market_list)
market_list.extend(vegetable)
print(market_list)

['apple', 'kiwi']
['apple', 'kiwi', 'tomato', 'onion']

In [14]:
# Concatenate list
# using + operator
list_compile = my_list + nested_my_list
print(list_compile)

[1, 'Shraddha', 67.96, 'Shetty', 'IonIdea', 'Whitefield', 'Employee', [1, 'Shraddha', 45], ['absent']]

In [15]:
# using * operator in list
print(my_list*3)

[1, 'Shraddha', 67.96, 'Shetty', 'IonIdea', 'Whitefield', 1, 'Shraddha', 67.96, 'Shetty', 'IonIdea', 'Whitefield', 1, 'Shraddha', 67.96, 'Shetty', 'IonIdea', 'Whitefield']

In [16]:
# deleting list element
print(my_list)

[1, 'Shraddha', 67.96, 'Shetty', 'IonIdea', 'Whitefield']

In [17]:
# my_list = [1, 'Shraddha', 67.96, 'Shetty',IonIdea', 'Whitefield']
# pop()- remove item and index 
print(my_list.pop())
print(my_list)

Whitefield
[1, 'Shraddha', 67.96, 'Shetty', 'IonIdea']

In [18]:
# my_list = [1, 'Shraddha', 67.96, 'Shetty', 'IonIdea']
# remove() - removes given item
my_list.remove(67.96)
print(my_list)

[1, 'Shraddha', 'Shetty', 'IonIdea']

In [19]:
# my_list = [1, 'Shraddha', 'Shetty', 'IonIdea']
del my_list[3]
print(my_list)

[1, 'Shraddha', 'Shetty']

In [20]:
# my_list = [1, 'Shraddha', 'Shetty']
# clear() - make existing list as empty list
my_list.clear()
print(my_list)

[]

In [21]:
# delete entire list using del
del my_list
print(my_list)

NameError: name 'my_list' is not defined

List method 
index() - returns the first matched item
count() - no of frequency
sort() - sorts in ascending
reverse() - reverses 
copy() - shallow copy of list

membership operation # in, not in

In [22]:
# calculate 2^n for first 10 natural numbers
pow2 = []
for x in range(10):
    pow2.append(2**x)
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [23]:
# list comprehension
pow2 = [2**x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]