Tuple is immutable, ordered collection of different types of element seperated by comma inside parenthesis

In [1]:
my_tuple = (1,"hello", 3.4)
print(my_tuple, type(my_tuple))

(1, 'hello', 3.4) <class 'tuple'>

In [2]:
#tuple packing - creates tuple without using parenthesis
my_tup = 2, "bye", 5.6
print(my_tup, type(my_tup))

(2, 'bye', 5.6) <class 'tuple'>

In [3]:
#tuple unpacking
a,b,c = my_tup
print(a,b,c,type(a),type(b),type(c))

2 bye 5.6 <class 'int'> <class 'str'> <class 'float'>

In [4]:
# creating a tuple with single element
tu = ('hello')
print(tu, type(tu))

hello <class 'str'>

In [5]:
tu1 = (1)
print(tu1, type(tu1))

1 <class 'int'>

In [6]:
tu_single = ("hello",)
print(tu_single, type(tu_single))

('hello',) <class 'tuple'>

In [7]:
# Accessing tuple elements
# my_tuple = (1,"hello", 3.4)
# Iterating tuple elements
for i in my_tuple:
    print(i)
# Iterating in tuple index
for i in range(len(my_tuple)):
    print(my_tuple[i])

1
hello
3.4
1
hello
3.4

In [8]:
# Accessing tuple elements
# my_tuple = (1,"hello", 3.4)
# indexing to print "llo"
print(my_tuple[1][2:6])

llo

In [9]:
# changing tuple value # immutable hence we cannot change immutable elements in tuple but can change mutable elements (list)
e = (4,3,2,[6,5])
e[3][0] = 7
print(e)

(4, 3, 2, [7, 5])

In [10]:
# reassigning
e = (8,9,10)

In [11]:
# Concatenating
f = (11,12,13)
s = e + f
print(s)

(8, 9, 10, 11, 12, 13)

In [12]:
# deleting tuple can be done # but not single tuple element
del s
print(s)
# membership operation # in, not in

NameError: name 's' is not defined